.card {
  background-color: #666;
  width: 10rem;
  height: 5rem;
  margin: 5px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(1) {
  background-color: white;
  margin-bottom: 5rem;
}
